.outer {
  width: 100%;
  height: 200px;
}
.inner1 {
  background: red;
  width: 100px;
  height: 50px;
  margin: 20px auto;
}
.inner2 {
  background: green;
  width: 100px;
  height: 50px;
  margin: 20px auto;
}